@import "vars.inc.less";

.console-view {

  //body
  border: @body_border-type @body_border-width @body_border-color;
  border-radius: @body_border-radius;
  padding: @body_padding;


  //console line
  .console-line {
    padding: @console-line_padding;
    margin: @console-line_margin;
  }


  //highlighting
  .highlight {
    font-weight: bold;

    &.success {
      color: @highlight_color-success;
    }

    &.error {
      color: @highlight_color-error;
    }

    &.warn {
      color: @highlight_color-warn;
    }
  }
}