//console-view body
@body-background-color: #ffffff;
@body-border-color: #000000;
@body-border-width: 1px;
@body-border-type: solid;
@body-border-radius: 0px;
@body-padding: 10px;


//highlight variables
@highlight-color-error: #ff0000;
@highlight-color-warn: #fff000;
@highlight-color-success: #00ff00;