//console-view body
@body_background-color: #ffffff;
@body_color: #000000;
@body_border-color: #000000;
@body_border-width: 1px;
@body_border-type: solid;
@body_border-radius: 0px;
@body_padding: 10px;
@body_font-size: 18px;

//console line

@console-line_padding: 0;
@console-line_margin: 0;

//highlight variables
@highlight_color-error: #ff0000;
@highlight_color-warn: #fff000;
@highlight_color-success: #00ff00;


//fullscreen
@fullscreen_font-size: 20px;
@fullscreen_top: @fullscreen_font-size / 2;
@fullscreen_right: @fullscreen_font-size / 2;
@fullscreen_height: @fullscreen_font-size;
@fullscreen_padding: 2px;

@fullscreen_color: @body_color;
@fullscreen_background-color: @body_background-color;
//fullscreen hover
@fullscreen_hover_color: @body_background-color;
@fullscreen_hover_background-color: @body_color;